@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header-wrapper {
  height: 180px;
  padding: 30px 40px;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
.header-wrapper h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
}
.header-wrapper img {
  height: 100px;
}

.form-wrapper {
  display: block;
}
.form-wrapper form {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  max-width: 650px;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}
.form-wrapper input {
  color: #7C7C7C ;
  font-family: 'Montserrat';
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.form-wrapper input:focus {
  outline-offset: 0px;
  outline: none;
}
.form-wrapper input, textarea {
  font-family: 'Montserrat';
  letter-spacing: .5px;
  outline: 0;
  border: 0;
  padding: 0;
}

.form-wrapper textarea {
  font-weight: 400;
  width: 100%;
  margin: 0;
  height: 120px;
  resize: none;
  transition: .2s height ease-in-out;
}
.form-wrapper textarea:focus {
  height: 200px;
}
.form-wrapper button {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
  font-size: 24px;
  color: #fff;
  background-color: #46B62A;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}
.form-wrapper button:focus {
  outline: none;
}

.thoughts-grid-wrapper {
  width: 1440px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  position: relative;
  margin: 60px auto;
}
.thought-wrapper {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 12px;
  overflow-wrap: break-word;
  max-height: 260px;
  overflow-y: auto;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.2), 0 2px 6px 2px rgba(60,64,67,.1);
}
.thought-wrapper h4 {
  margin-bottom: 15px;
}
.thought-wrapper svg {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 25px;
    opacity: 1;
    transition: all .2s ease-in-out;
    cursor: pointer;
    transition: .2s all;
}
.backdrop {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(200, 226, 238, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-form-wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  max-width: 650px;
  margin: 0 auto;
  z-index: 11;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);

}

.modal-form-wrapper input {
  color: #7C7C7C ;
  font-family: 'Montserrat';
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.modal-form-wrapper input:focus {
  outline-offset: 0px;
  outline: none;
}
.modal-form-wrapper input, textarea {
  font-family: 'Montserrat';
  letter-spacing: .5px;
  outline: 0;
  border: 0;
  padding: 0;
}

.modal-form-wrapper textarea {
  font-weight: 400;
  width: 100%;
  margin: 0;
  height: 120px;
  resize: none;
  transition: .2s height ease-in-out;
}
.modal-form-wrapper textarea:focus {
  height: 200px;
}
.delete-button {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  border: none;
  right: 18px;
  top: 18px;
  font-size: 24px;
  color: #fff;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
  transition: .1s all ease-in-out;
}
.delete-button:focus ,.submit-button:focus {
  outline: 0;
}
.delete-button:hover {
  box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
  transform: scale(0.95);
}
.submit-button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 0;
  padding: 10px 20px;
  font-weight: 700;
  box-shadow:  0 2px 6px 2px rgba(60,64,67,.15);

}